.card {
    margin-top: 10px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardButtonContainer{
    display: flex;
    justify-content: end;
}

.backButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1%;
}

.backButton{
    padding: 12px;
    border-radius: 50%;
}