.card {
    margin-top: 10px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardButtonContainer{
    display: flex;
    justify-content: end;

}