.dashboardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 92%;
}

.h2, h2{
    margin-top: 0.3rem;
}

.searchBarContainer.form-control{
    margin: 4px 4px 4px 0;
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
    background: lightgray;
    width: 23%;
    padding: 1rem;
}

.discoveryContainer{
    flex: 1;
    overflow-y: scroll;
}

.cardsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 0;
}

.imageContainer{
    max-width: 15rem;
}

.infoContainer{
    flex: 1;
}

.buttonsContainer{
    display: flex;
    align-items: center;
}

.noDoctorsMsg{
    display: flex;
    justify-content: center;
}
