.dashboardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 92%;
}

.h2, h2{
    margin-top: 0.3rem;
}

.searchBarContainer.form-control{
    margin: 4px 4px 4px 0;
}

.titleFilterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarContainer{
    display: flex;
    flex-direction: column;
    background: lightgray;
    width: 22.3%;
    padding: 1rem;
}

.discoveryContainer{
    flex: 1;
    overflow-y: scroll;
}

.cardsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 0;
}

.imageContainer{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.infoContainer{
    flex: 1;
}

.buttonsContainer{
    display: flex;
    align-items: center;
}

.noDoctorsMsg{
    display: flex;
    justify-content: center;
}

.starContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.ratingCount {
    margin-left: 8px;
}

.unselected {
    color: lightgray;
}

.selected {
    color: gold;
}

.hidden{
    display: none;
}

h4, .h4{
    margin-top: 1rem;
}
