body {
    overflow: hidden;
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90%;
    margin-left: 10px;
}

.h2, h2 {
    margin-top: 0.3rem;
}

.searchBarContainer.form-control {
    margin: 4px 4px 4px 0;
}

.titleFilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    width: 22.3%;
    padding: 1rem;
    margin: 1rem;
}

.discoveryContainer {
    flex: 1;
    overflow-y: scroll;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
}

.cardsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chip {
    padding: 5px 15px;
    margin: 1%;
    font-size: medium;
    border-radius: 25px;
    height: auto;
    background-color: #f1f1f1;
    transform: rotate(0);
    text-align: center;
}

.chipsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

a.stretched-link:hover {
    color: white;
}

.chip:hover {
    background: #223E6A;
}

.cardsContainer .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 0;
}
@media(max-width: 1250px){
    .cardsContainer .card {
        flex-direction: column;
        align-items: center;
    }
    .infoContainer{
        width: 100%;
    }
}

.imageContainer {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    height: 20rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    justify-self: end;
    margin-top: auto;
}

.noDoctorsMsg {
    display: flex;
    justify-content: center;
}

.starContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1rem 0;
}

.ratingCount {
    margin-left: 8px;
}

.unselected {
    color: lightgray;
}

.selected {
    color: gold;
}

.hidden {
    display: none;
}

.fromToContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hourPicker {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 45%;
}
