.foot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-gradient {
    display: inline;
    background: -webkit-linear-gradient(315deg, #0275d8 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}
.profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.circles{
    max-width: 60%;
    padding-bottom: 5%;
    margin-bottom: 1%;
}

.welcome{
    justify-content: center;
    align-items: center;
}

.text{
    margin: 3rem;
}

section{
    position: relative;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carouselContainer{
    display: flex;
    flex-direction: column;
}

.card{
    margin: 0 3px;
}

.card-img{
    height: 20rem;
}

.img-fluid{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img-overlay{
    color: white;
    text-shadow: 1px 1px 3px #000000;
    font-size: 2rem;
}

.h1, h1{
    margin-bottom: 1.5rem;
}

p{
    text-align: justify;
    text-align-last: center;
}

.searchBar{
    margin: 0 2.5rem;
}