div{
    font-family: 'Open Sans', sans-serif;
}

.health{
    color: #223E6A;
}

.sync{
    color: black;
}

.generalPadding{
    padding: 3rem 8rem;
}

.horizontalPadding{
    padding-left: 8rem;
    padding-right: 8rem;
}

.verticalPadding{
    padding-left: 3rem;
    padding-right: 3rem;
}

.title{
    font-weight: bold;
    font-size: 2rem;
}

.navbar-brand{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}