.pfpEdit {
    position: relative;
    left: 100px;
    z-index: 1;
    bottom: 320px;
    margin-bottom: -170px;
}
.pfpEdit input {
    display: none;
}
.doctorPfpEdit{
    bottom: 280px;
}

.pfpEdit label i {
    cursor: pointer;
}

.fa-circle {
    color: #0275d8;
}

.pfpEdit label span i:hover {
    color: darkgray;
}

.fa-pen {
    color: white;
}

