.card{
    background-color: #F5F5F5;
}

.form-container {
    display: flex;
    width: content-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bcontent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

input, textarea {
    width: max-content;
    border: black;
    border-bottom: 2px solid blue;

    padding: 12px 20px;
    margin: 8px 2px;
    box-sizing: content-box;
}

.error{
    color:red;
}

