.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center
}

.bcontent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid red;

    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: content-box;
}

.error{
    color:red;
}

