.foot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-gradient {
    display: inline;
    background: -webkit-linear-gradient(315deg, #0275d8 0%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.circles{
    max-width: 60%;
    padding-bottom: 5%;
    margin-bottom: 1%;
}

.welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.welcome1Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 45%;
}

.profile {
    flex: 1;
}


.text{
    margin: 3rem;
}

section{
    position: relative;
}

.carouselSectionContainer{
    display: flex;
    flex-direction: column;
}


.carouselCard{
    height: 20rem;
    margin: 0 3px;
}

.carouselImg{
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.cardImageOverlay{
    color: white;
    text-shadow: 1px 1px 3px #000000;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: lighter;
}

.sloganSmall{
    font-size: 2rem;
    font-weight: lighter;
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color);
}

.sloganBig{
    font-size: 3.3rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.categoriesTitle{
    margin-bottom: 1.5rem;
    font-weight: normal;
}

p{
    text-align: justify;
    text-align-last: center;
}

.searchBar{
    width: 90%;
}

.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.aboutCircleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
    max-width: 28rem;
}