.passwordFormItem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 20px;
}

.passwordFormItem input {
    width: 100%;
}

.passwordFormItem button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.passwordFormContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.passwordFormContainer form {
    flex-grow: 1;
}

.passwordInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: larger;
}

.passwordInfo div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.passwordInfo div strong {
    margin-left: 10px;
}
