.starContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formItem {
    align-items: start;
    margin-left: 10px;
}

.formLabel {
    margin-left: 3px;
}

.submitButton {
    width: fit-content;
    align-self: end;
}

.unselected {
    color: lightgray;
}

.selected {
    color: gold;
}

.hidden {
    display: none;
}