<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="#{appointmentRequest.userAndDate(${userName}, ${date})}"></p>

    <h3 th:text="#{appointmentRequest.descriptionTitle}"></h3>
    <p th:text="${description}"></p>

    <h3 th:text="#{appointmentRequest.userDataTitle}"></h3>
    
    <ul>
        <li th:text="#{appointmentRequest.userName(${userName})}"></li>
        <li th:text="#{appointmentRequest.userHealthcare(${userHealthcare})}"></li>
        <li th:text="#{appointmentRequest.userMail(${userMail})}"></li>
    </ul>

    <a th:href="@{{url}(url = ${appointmentsUrl})}" th:text="#{appointmentRequest.callToAction}"></a>

  </body>
</html>
