<?xml version="1.0" encoding="UTF-8"?>
<!--
  Logger de produccion

    - Nunca deployear un logger a consola
    - Nunca deployear loggeando a debug
-->

<configuration>
    <property name="defaultPattern"	value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="root-appender"	class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Maxima cantidad de archivos historicos -->
            <maxHistory>5</maxHistory>
            <!-- 1 archivo x dia -->
            <fileNamePattern>logs/paw-2023a-02.warnings.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern:-}</pattern>
        </encoder>
    </appender>

    <appender name="paw-appender"	class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Maxima cantidad de archivos historicos -->
            <maxHistory>5</maxHistory>
            <!-- 1 archivo x dia -->
            <fileNamePattern>logs/paw-2023a-02.paw.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern:-}</pattern>
        </encoder>
    </appender>

    <!-- log a nivel raiz -->
    <!--
        al pedirlo en warn nos salteamos los DEBUG
        logs de codigo q no implementamos
    -->
    <root level="WARN">
        <appender-ref ref="root-appender"/>
    </root>

    <!-- log de la aplicacion -->
    <!--
        para los logs de nuestro paquete en especifico
        additivity="false" hace que el log no siga subiendo
        en el arbol de logging
        entonces si lo atrapamos aca, no llega al raiz
    -->
    <logger name="ar.edu.itba.paw" level="INFO" additivity="false">
        <appender-ref ref="paw-appender"/>
    </logger>
</configuration>
